<html>
  <head>
    <title>Verify Temperatures application</title>
  </head>
  <body>
    <h1>Verify Temperatures</h1>
    <p>This application assists in the verification of two temperatures, potentially of disparate units.</p>
    <form method='post' action='/verify'>
      <p>Input Temperature: <br /><input type='text' name='teacher_string' /></p>
      <p>Target Units: <br /><input type='text' name='student_units' /></p>
      <p>Student Response: <br /><input type='text' name='student_value' /></p>
      <p><input type='submit' /></p>
    </form>
  </body>
</html>
