<html>
  <head>
    <title>Verify Temperatures application</title>
  </head>
  <body>
    <h1>Verify Temperatures</h1>
    <p>This application assists in the verification of two temperatures, potentially of disparate units.</p>
    <p>The answer was: {{ result }}</p>
  </body>
</html>
